body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url(/images/bg.png);
	background-repeat: repeat;
	background-attachment: auto;
	background-position: center;
	background-size: 100% auto;
	font-family:sans-serif;
}

.loginHeader{
	width: 90%;
	background-color: darkorange;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	max-width: 1000px;
	border-radius: 15px;
}
.centerWhite{
	position: relative;
	top: -25px;
  text-align: center;
  text-decoration-color: orangered;
  background-color: lightyellow;
  padding:15px;
  border-radius: 15px;
  color : darkorange;
}
.image_center{
	display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}
.loginOption{
	width: 450px;
	height: 50px;
	margin-left:auto;
	margin-right:auto;
}
.text_center{
  text-align: center;
}
.text_left{
	text-align: left;
}
.text_right{
	text-align: right;
}
.skyblue{
	color: skyblue;
}
.white{
  text-align: center;
	color: white;
}
.loginBox{
	width: 450px;
	height: 280px;
	background-color: lightyellow;
	box-sizing: border-box ;
	margin-left:auto;
	margin-right:auto;
	border-radius: 5%;
	border-width: thick;
	border-style: solid;
    border-color: darkorange;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	top: -50px;
	left: calc(50% - 50px);
}
.username_password{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	position: relative;
	top: -80px;
	color: darkorange;
}
.loginText{
	position: relative;
	top: -70px;
	text-align: center;
	background-color: darkorange;
	color : lightyellow;
}
.loginBox p{
	margin: 0;
	padding: 0;
	font-weight: bold;

}
.loginOptionBox{
	width: 450px;
	height: 60px;
	background-color: darkorange;
	box-sizing: border-box ;
	margin-left:auto;
	margin-right:auto;
	border-radius: 10%;
	border-width: thick;
	border-style: solid;
  border-color: darkorange;
}
.loginOptionBox legend{
	font-weight: bold;
}
.loginBox label{
	width: 100%;
}
.loginBox input[type="submit"]{
	width: 80px;
	height: 30px;
	display: ruby;
	background-color: floralwhite;
	box-sizing: border-box ;
	margin-left: auto;
	margin-right:auto;
	border-radius: 20%;
	border-width: thick;
  border-color: darkorange;
}
.loginBox button[type="button"]{
	width: 80px;
	height: 30px;
	display: ruby;
	background-color: floralwhite;
	box-sizing: border-box ;
	margin-left: auto;
	margin-right:auto;
	border-radius: 20%;
	border-width: thick;
  border-color: darkorange;
}
.loginBox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	height: 20px;
	font-size:18px;
	color: orange;
}
.support{
	padding-top: 20px;
	text-align: right;
	text-decoration-color: snow;
	font-size: 20px;
	font-weight: bolder;
}

.button {
	width: 80px;
	height: 30px;
	display: ruby;
	background-color: floralwhite;
	box-sizing: border-box ;
	margin-left: auto;
	margin-right:auto;
	border-radius: 20%;
	border-width: thick;
  border-color: darkorange;
}
