body {
    background: #fcbb42;
    margin-top: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url(/images/bg.png); /* CHANGE: '/' put in url */
    background-repeat: no-repeat;
    background-position: center; background-attachment: fixed;
    background-size: cover;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: #ffce54;
    background  : #ffce54;
    color       : #ffce54;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #ffce54;
    background  : #ffce54;
    color       : #ffce54;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #ffce54 !important;
}

.btn-facebook {
    border-color: #ffce54;
    background  : #ffce54;
    color       : #ffce54;
}

.btn-instagram {
    border-color: #ffce54;
    background  : #ffce54;
    color       : #ffce54;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px #ffce54;
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: #ffce54 !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #ffce54 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: #ffce54 !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #ffce54 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: #ffce54 !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #ffce54 !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #ffce54 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: #ffce54 !important;
}
.card-body button{
    position: relative;
    left: 80%;
    border-color: navajowhite;
    border-width: 2px;
    background-color: darkorange;
    border-radius: 10px;
    color: floralwhite;
}